.container {
    margin: 0 20%;
}

.main-header {
    height: 10%;
    width:  100%;
    background-color: rgba(61, 155, 233, 1);
}
.main-slide {
    min-height: 360px;
    background-color: #473e30 ;
}
h1 {
        font-size: 23px;
        color: #473e30;
}
p {
        font-size: 17px;
        color: #473e30;
       
}
.feature-block {
    width:  100%;
    min-height: 352px;
    background-color:  #E6F5FA;
}
.main-footer {
    min-height: 50px;
    width:  100%;
    background-color: rgba(61, 155, 233, 1);
}